* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none; }

footer {
  min-height: 10vh; }

.header {
  background: #151515;
  color: #ffffff;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .header__div {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end; }
    .header__div__div {
      padding-top: 10px; }
      .header__div__div a {
        text-decoration: none;
        color: #ffffff;
        padding: 0 10px; }
      .header__div__div__div {
        display: none;
        width: 40vw;
        background-color: #151515;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        padding: 20px;
        top: -100vh;
        left: 30vw;
        border-radius: 5px; }
        .header__div__div__div h4 {
          text-align: center; }
        .header__div__div__div label {
          text-align: left;
          margin: 10px 0; }
        .header__div__div__div input {
          margin: 10px 0;
          width: 100%;
          padding: 10px auto; }
        .header__div__div__div button {
          background-color: #ffffff;
          padding: 5px 15px;
          margin: 5px auto;
          border-radius: 5px;
          border-color: #ffffff; }
  .header__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #ffffff;
    padding-top: 10px; }
    .header__nav__h1 {
      font-size: 2em;
      color: #ffffff; }
    .header__nav__div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      .header__nav__div__ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center; }
        .header__nav__div__ul__li {
          list-style: none;
          padding: 0 20px; }
          .header__nav__div__ul__li a {
            text-decoration: none;
            color: #ffffff; }
          .header__nav__div__ul__li ul {
            display: none; }
          .header__nav__div__ul__li:hover ul {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            list-style: none;
            position: absolute;
            margin-right: 10px;
            background-color: rgba(0, 0, 0, 0.137);
            padding: 10px;
            border-radius: 5px;
            text-align: center; }
            .header__nav__div__ul__li:hover ul li {
              border-bottom: 2px solid black;
              padding: 2px 0; }
      .header__nav__div__div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px 0; }
        .header__nav__div__div button {
          background-color: #ffffff;
          padding: 5px 15px;
          margin: 0 5px;
          border-radius: 5px;
          border-color: #ffffff;
          cursor: pointer; }
          .header__nav__div__div button i {
            font-size: 1.2em; }
        .header__nav__div__div__div {
          visibility: hidden;
          position: absolute;
          right: 0;
          width: 25%;
          background-color: #151515;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          border-bottom-left-radius: 10px; }
          .header__nav__div__div__div div {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px 5px;
            margin: 1px 0;
            background-color: #8d8b8b;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            position: relative; }
            .header__nav__div__div__div div button {
              position: absolute;
              right: 0; }
            .header__nav__div__div__div div div {
              position: relative;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap; }
              .header__nav__div__div__div div div div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                padding-bottom: 20px; }
                .header__nav__div__div__div div div div img {
                  width: 100%;
                  border-radius: 5px; }
                .header__nav__div__div__div div div div button {
                  position: absolute;
                  right: 0;
                  bottom: 0; }
        .header__nav__div__div form input {
          border-radius: 5px;
          padding: 7px; }
        .header__nav__div__div form button {
          margin-left: 0;
          padding: 5px;
          cursor: pointer; }

.modal-active {
  visibility: visible;
  position: absolute;
  top: 10.5vh; }

#vaciarCarrito {
  margin-top: 5px; }

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f39237;
  min-height: 100vh; }
  .main__section {
    display: flex;
    flex-direction: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px; }
    .main__section article {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 25%;
      border-radius: 10px;
      background: #8d8b8b;
      height: fit-content;
      text-align: center;
      margin: 10px;
      box-shadow: 2px 2px 5px black;
      justify-content: center;
      align-items: center; }
      .main__section article .imagenProducto {
        width: 100%;
        border-radius: 10px; }
      .main__section article .precioProducto {
        width: 100%; }
      .main__section article .botonCargaCarrito {
        width: 100%;
        padding: 5px 0;
        cursor: pointer; }
      .main__section article .botonTalle {
        padding: 2px 5px;
        margin: 0 1px; }

.aside-active {
  display: block; }

#oferta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  #oferta p {
    text-decoration: line-through;
    color: red; }

.divTalle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .divTalle p {
    color: black;
    text-decoration: none; }

.footer {
  background: #151515;
  color: #ffffff;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .footer__div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .footer__div__div {
      background-color: #151515; }
      .footer__div__div__a {
        text-decoration: none;
        color: #f39237;
        padding: 0 10px;
        font-size: 1em; }
