.main{
  @include flex(row,nowrap);
  background-color: map-get($colores,"main");
  &__aside{
    @include flex(column,nowrap);
    background: map-get($colores,"aside");
    width: 20%;
    min-height: 100vh;
    padding: 20px;
    &__button{
      display: none;
    }
    h3{
      width: 100%;
      text-align: center;
      font-size: 1.2em;
    }
    &__div{
      &__div{
        &__ul{
          &__li{
            width: 100%;
            list-style: none;
            font-size: 1.2em;
            h4{
              font-size: 1em;
            }
            form{
              display: none;
              width: 100%;
              fieldset{
                border: none;
              }
              button{
                width: 100%;
              }
            }
            &__button{
              width: 100%;
              margin: 30px 0;
              padding: 0 5px;
              @include flex(flex,nowrap);
              justify-content: space-between;
              background: map-get($colores,"aside");
              font-size: 1em;
              border: none;
              border-bottom: 2px solid map-get($colores,"header");
              cursor: pointer;
              &__ul{
                display: none;
                list-style: none;
                text-decoration: none;
                a{color: map-get($colores, "header" )}
              }
            }
          }
        }
      }
    }
  }
  &__section{
    @include flex(flex,wrap);
    padding: 10px;
    width: 80%;
    article{
      @include flex(row,wrap);
      width: 30%;
      border-radius: 10px;
      background: map-get($colores,"aside");
      height: fit-content;
      text-align: center;
      margin: 10px;
      box-shadow: 2px 2px 5px black;
      justify-content: center;
      align-items: center;
      .imagenProducto{
        width: 100%;
        border-radius: 10px;
      }
      .precioProducto{
        width: 100%;
      }
      .botonCargaCarrito{
        width: 100%;
        padding: 5px 0;
        cursor: pointer;
      }
      .botonTalle{
        padding: 2px 5px;
        margin: 0 1px;
      }
    }
  }
}
.aside-active{
  display: block;
}