.main{
  @include flex(row,nowrap);
  background-color: map-get($colores,"main");
  min-height: 100vh;
  &__section{
    @include flex(flex,wrap);
    justify-content: space-evenly;
    padding: 10px;
    article{
      @include flex(row,wrap);
      width: 25%;
      border-radius: 10px;
      background: map-get($colores,"aside");
      height: fit-content;
      text-align: center;
      margin: 10px;
      box-shadow: 2px 2px 5px black;
      justify-content: center;
      align-items: center;
      .imagenProducto{
        width: 100%;
        border-radius: 10px;
      }
      .precioProducto{
        width: 100%;
      }
      .botonCargaCarrito{
        width: 100%;
        padding: 5px 0;
        cursor: pointer;
      }
      .botonTalle{
        padding: 2px 5px;
        margin: 0 1px;
      }
    }
  }
}
.aside-active{
  display: block;
}
#oferta{
  @include flex(row,nowrap);
  p{
    text-decoration: line-through;
    color: red;
  }
}
.divTalle{
  @include flex(row,nowrap);
  p{
    color: black;
    text-decoration: none;
  }
}